.container{
    display: flex;
    text-align: center;
    
    align-items: center;
    margin-left: 40%;
    margin-top: 20%;

}

.input{
    padding: 10px;
    

}

.button{
    padding: 10px;
    
}